$light-grey: #eee;

body {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 14px;
  line-height: 1.4;
}

table,
progress {
  width: 100%;
}

th,
td {
  margin-right: 5px;
  padding: 3px 6px;
  font-size: 16px;
}

th {
  width: 10%;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  vertical-align: middle;
}

button {
  margin: 3px;
  padding: 6px 12px;
  border: 0;
  border-radius: 3px;
  outline: 0;
  background-color: $light-grey;

  &:focus {  background: darken($light-grey, 5); }
  &:hover {  background: darken($light-grey, 10); }
  &:active { background: darken($light-grey, 15); }
}